In [1]:
import pandas as pd 
import numpy as py

In [2]:
football_df = pd.read_excel('TASK2- DATA.xlsx')

In [3]:
football_df.head(30)

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type,Goal_assist
0,15/16,LaLiga,26,2/28/16,H,FC Barcelona,Sevilla FC,2:O1,RW,31,1:O1,Direct free kick,NaN
1,2O/21,NaN,NaN,NaN,A,FC Barcelona,NaN,1:OO,NaN,89,NaN,NaN,NaN
2,16/17,LaLiga,25,O3-O1-17,H,FC Barcelona,Sporting GijÃ³n,6:O1,RW,9,1:OO,Header,Javier Mascherano
3,2024-12-13 00:00:00,LaLiga,36,O5-O8-13,H,Real Madrid,Malaga CF,6:O2,LW,26,2:O1,Right-footed shot,Xabi Alonso
4,22/23,UEFA Champions League,Group Stage,1O/5/22,A,Paris Saint-Germain,SL Benfica,1:1,AM,22,O:1,Left-footed shot,Neymar
5,15/16,UEFA Champions League,last 16,O3-O8-16,H,Real Madrid,AS Roma,2:OO,CF,64,1:OO,Right-footed shot,Lucas Vazquez
6,15/16,LaLiga,3O,3/2O/16,H,Real Madrid,Sevilla FC,4:OO,LW,64,2:OO,Left-footed shot,Danilo
7,15/16,LaLiga,3,O9-12-15,A,Real Madrid,RCD Espanyol Barcelona,O:O6,LW,81,O:O6,Right-footed shot,Lucas Vazquez
8,NaN,NaN,NaN,11/2O/1O,NaN,Real Madrid,Ajax Amsterdam,NaN,NaN,NaN,O:O1,NaN,Andres Iniesta
9,13/14,LaLiga,24,2/15/14,H,FC Barcelona,Rayo Vallecano,6:OO,CF,36,2:OO,Left-footed shot,Cesc Fabregas
10,1O/11,UEFA Champions League,Group Stage,11-O2/1O,A,FC Barcelona,FC Copenhagen,1:O1,CF,31,O:O1,Right-footed shot,NaN
11,1O/11,LaLiga,9,1O/3O/1O,H,FC Barcelona,Sevilla FC,5:OO,RW,63,4:OO,Left-footed shot,NaN
12,O5/O6,EFL Cup,Final,2/26/O6,H,Manchester United,Wigan Athletic,4:OO,RW,59,3:OO,NaN,Louis Saha
13,17/18,LaLiga,31,O4/O7-18,H,FC Barcelona,CD Leganes,3:O1,SS,32,2:OO,Left-footed shot,Philippe Coutinho
14,15/16,LaLiga,24,2/13/16,H,Real Madrid,Athletic Bilbao,4:O2,LW,87,4:O1,Right-footed shot,Lucas Vazquez
15,O8/O9,Premier League,34,4/25/O9,H,Manchester United,Tottenham Hotspur,5:O2,RW,68,3:O2,Header,Wayne Rooney
16,13/14,UEFA Champions League,last 16,3/18/14,H,Real Madrid,FC Schalke O4,3:O1,LW,22,1:OO,Right-footed shot,Gareth Bale
17,O3/O4,FA Cup,Fifth Round,2/14/O4,H,Manchester United,Manchester City,4:O2,RW,74,3:OO,Right-footed shot,NaN
18,2024-12-11 00:00:00,NaN,23,4/29/14,A,NaN,Racing Santander,NaN,NaN,NaN,NaN,NaN,NaN
19,2024-12-11 00:00:00,LaLiga,15,12-O3/11,H,FC Barcelona,Levante UD,5:OO,CF,55,4:OO,Left-footed shot,Dani Alves
20,O8/O9,Premier League,31,O4-O5-O9,H,Manchester United,Aston Villa,3:O2,RW,11,1:OO,Direct free kick,NaN
21,22/23,Ligue 1,1,O8/O6-22,A,Paris Saint-Germain,Clermont Foot,O:O5,CF,86,O:O5,Left-footed shot,Leandro Paredes
22,O9/1O,UEFA Champions League,Group Stage,12-O8-O9,A,Real Madrid,Olympique Marseille,1:O3,CF,8O,1:O3,Right-footed shot,Lassana Diarra
23,2024-12-11 00:00:00,LaLiga,2,8/29/11,H,FC Barcelona,Villarreal CF,5:OO,CF,51,4:OO,Right-footed shot,Andres Iniesta
24,17/18,LaLiga,15,12-O9-17,H,Real Madrid,Sevilla FC,5:OO,CF,31,3:OO,Penalty,NaN
25,18/19,LaLiga,28,3/17/19,A,FC Barcelona,Real Betis Balompie,1:O4,SS,85,1:O4,Left-footed shot,Ivan Rakitic
26,2024-12-13 00:00:00,LaLiga,24,2/16/13,A,FC Barcelona,Granada CF,1:O2,CF,49,1:O1,Left-footed shot,NaN
27,16/17,LaLiga,28,3/19/17,H,FC Barcelona,Valencia CF,4:O2,AM,45,2:O1,Penalty,NaN
28,19/2O,Copa del Rey,Round of 16,1/3O/2O,H,FC Barcelona,CD Leganes,5:OO,RW,89,5:OO,Left-footed shot,Ivan Rakitic
29,13/14,UEFA Champions League,Group Stage,11/O6-13,H,FC Barcelona,AC Milan,3:O1,CF,3O,1:OO,Penalty,NaN

In [4]:
football_df.shape

(1564, 13)

**Dropping all the Matches With Null Results**

In [5]:
for i in range(0,1564):
	if(football_df.at[i,'Result']==None):
		football_df.drop(i,inplace=True)

In [6]:
football_df.dtypes

Season              object
Competition         object
Matchday            object
Date                object
Venue               object
Club                object
Opponent            object
Result              object
Playing_Position    object
Minute              object
At_score            object
Type                object
Goal_assist         object
dtype: object

In [7]:
football_df.info()
# Maintaining a Copy of the Original Data Frame 
main_football_df=football_df.copy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1564 entries, 0 to 1563
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Season            1511 non-null   object
 1   Competition       1497 non-null   object
 2   Matchday          1507 non-null   object
 3   Date              1498 non-null   object
 4   Venue             1504 non-null   object
 5   Club              1508 non-null   object
 6   Opponent          1500 non-null   object
 7   Result            1500 non-null   object
 8   Playing_Position  1435 non-null   object
 9   Minute            1500 non-null   object
 10  At_score          1507 non-null   object
 11  Type              1475 non-null   object
 12  Goal_assist       1012 non-null   object
dtypes: object(13)
memory usage: 159.0+ KB

**Checking the Amount of Null Values in the Each Column**

In [8]:
print("Null Values in Season : ",football_df['Season'].isnull().sum())
print("Null Values in Competition : ",football_df['Competition'].isnull().sum())
print("Null Values in MatchDay : ",football_df['Matchday'].isnull().sum())
print("Null Values in Date : ",football_df['Date'].isnull().sum())
print("Null Values in Venue : ",football_df['Venue'].isnull().sum())
print("Null Values in  Club : ",football_df['Club'].isnull().sum())
print("Null Values in Opponent : ",football_df['Opponent'].isnull().sum())
print("Null Values in Result : ",football_df['Result'].isnull().sum())
print("Null Values in  Playing_Position : ",football_df['Playing_Position'].isnull().sum())
print("Null Values in Minute : ",football_df['Minute'].isnull().sum())
print("Null Values in At_score : ",football_df['At_score'].isnull().sum())
print("Null Values in Type : ",football_df['Type'].isnull().sum())
print("Null Values in  Goal_assist: ",football_df['Goal_assist'].isnull().sum())

Null Values in Season :  53
Null Values in Competition :  67
Null Values in MatchDay :  57
Null Values in Date :  66
Null Values in Venue :  60
Null Values in  Club :  56
Null Values in Opponent :  64
Null Values in Result :  64
Null Values in  Playing_Position :  129
Null Values in Minute :  64
Null Values in At_score :  57
Null Values in Type :  89
Null Values in  Goal_assist:  552

In [9]:
print('Number of Uniquie Competitions : ',football_df['Competition'].unique())
# Actual VAlue v/s Missing Values 
football_df['Competition'].value_counts()

Number of Uniquie Competitions :  ['LaLiga' nan 'UEFA Champions League' 'EFL Cup' 'Premier League' 'FA Cup'
 'Ligue 1' 'Copa del Rey' 'Serie A' 'Supercopa' 'Saudi Pro League'
 'FIFA Club World Cup' 'Italy Cup' 'Trophée des Champions' 'Europa League'
 'Taca de Portugal Placard' 'Champions League' 'UEFA Super Cup'
 'Supercoppa Italiana' 'Liga Portugal' 'Troph�e des Champions'
 'UEFA Champions League Qualifying']

Competition
LaLiga                              831
UEFA Champions League               282
Premier League                      108
Serie A                              88
Copa del Rey                         80
Ligue 1                              25
Supercopa                            19
FA Cup                               14
FIFA Club World Cup                  12
Saudi Pro League                     10
UEFA Super Cup                        6
EFL Cup                               4
Italy Cup                             4
Liga Portugal                         4
Supercoppa Italiana                   2
Taca de Portugal Placard              2
Europa League                         2
Trophée des Champions                 1
Champions League                      1
Troph�e des Champions                 1
UEFA Champions League Qualifying      1
Name: count, dtype: int64

In [28]:
football_df['Club'].value_counts()

Club
FC Barcelona           717
Real Madrid            473
Manchester United      158
Juventus FC            107
Paris Saint-Germain     38
Al-Nassr FC              9
Sporting CP              6
Name: count, dtype: int64

In [32]:
football_df['Opponent'].__contains__('FC Barcelona')

False

**Seperation of Date-Time**
https://saturncloud.io/blog/how-to-split-a-date-column-into-separate-day-month-year-columns-in-pandas/#:~:text=To%20split%20the%20date%20column,components%20from%20the%20datetime%20object.

In [11]:
football_df['Date'].value_counts()

Date
11/22/14    8
1/27/13     8
11/2O/1O    7
9/24/11     7
O3/O7/12    7
           ..
4/28/22     1
1/15/O6     1
12/29/O7    1
4/14/O7     1
O4-O8-18    1
Name: count, Length: 850, dtype: int64

In [12]:
football_df['Matchday'].describe()

count            1507
unique             53
top       Group Stage
freq              164
Name: Matchday, dtype: object

In [13]:
football_df['Result'].value_counts()

Result
3:OO       99
4:OO       84
O:O2       74
3:O1       73
4:O1       72
           ..
4:1 AET     1
2:O         1
2:1 AET     1
1:O7        1
1:2         1
Name: count, Length: 72, dtype: int64

In [36]:
football_df['Result'].unique()

array([1, 0, nan, '1:2 AET', '6:5 on pens', '4:2 AET', '4:1 AET',
       'O:1 AET', '3:4 on pens', '5:4 AET', '2:1 AET'], dtype=object)

**Trying to Split the Result Columns into Club Win -1 and  Opponent Win--0**

In [16]:
# Converting the Result Column
for i in range(0,1564):
    if(isinstance(football_df.at[i,'Result'],str) and (len(football_df.at[i,'Result'])<6)):
        if(football_df.at[i,'Result']==None):
            continue
        else:
        
            rlist=(football_df.at[i,'Result']).replace('O','0').split(":")
            rlist[0]=float(rlist[0])
            rlist[1]=float(rlist[1])
            if(float(rlist[0])>float(rlist[1])):
                football_df.at[i,'Result']=1
            elif(float(rlist[0])<float(rlist[1])):
                football_df.at[i,'Result']=0
            elif(float(rlist[0])==float(rlist[1])):
                football_df.at[i,'Result']=0
    else:
        continue

In [17]:
football_df['Result'].unique()

array([1, 0, nan, '1:2 AET', '6:5 on pens', '4:2 AET', '4:1 AET',
       'O:1 AET', '3:4 on pens', '5:4 AET', '2:1 AET'], dtype=object)

**Dropping the Unecessary Columns**

In [18]:
# Dropping all the unecessary rows for which the Result is Not Declared Properly 
for i in range(0,):
	if(football_df.at[i,'Result']==1 or football_df.at[i,'Result']==0 ):
		continue
	else:
		football_df.drop(index=i,inplace=True)

In [19]:
football_df.shape

(1564, 13)

**Converting all the dates to uniform format**

In [20]:
football_df['Date']

0        2/28/16
1            NaN
2       O3-O1-17
3       O5-O8-13
4        1O/5/22
          ...
1559    O5-12-21
1560    1O-O3-12
1561    O2/O8-15
1562     3/14/21
1563     3/29/14
Name: Date, Length: 1564, dtype: object

In [41]:
football_df['Date']=pd.to_datetime(football_df['Date']).dt.strftime()

C:\Users\Sian\AppData\Local\Temp\ipykernel_29676\3833933708.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  football_df['Date']=pd.to_datetime(football_df['Date']).dt.strftime()

DateParseError: Unknown datetime string format, unable to parse: O3-O1-17, at position 2

**Creating A Seperate Data Frame of Barcelona**

In [33]:
barcelona_matches=[]
for i in range(0,1564):
	if((football_df.at[i,'Club']=='FC Barcelona')  ):
		barcelona_matches.append(i)
	else:
		continue

In [34]:
barca_df =football_df.iloc[barcelona_matches]

In [38]:
barca_df.shape

(717, 13)